# package directories
node_modules
jspm_packages

.firebase

# private Key
*firebase-adminsdk*.json
auth.json
.runtimeconfig.json

# output files
dist/
backend/lib
backend/index.js
backend/index.js.map